{% load static %}

<!doctype html>


<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Ana Bolena Gomez Gordillo">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            
            <div id="header-text">
            <!-- <img src=" https://media-exp1.licdn.com/dms/image/C561BAQF9ppGge12VXQ/company-background_10000/0/1634025053409?e=2159024400&v=beta&t=Y6qBYydm-_b_ibOmgp4GfxGmGhSlhjh2T18DCfFdHUg"/> -->
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1 id="header1">She </h1>
                    <h1 id="header2">{Codes}</h1>
                    <h1 id="header1">News</h1>
                </a>
            </div>
            {% include './nav.html' %}
            
        </header>



        

        {% block content %}{% endblock %}
        
    </body>
</html>
